{{#[helpers/layout] htmlWebpackPlugin}}
	<div class="test">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ducimus eveniet fugit harum illo illum mollitia quae. Aliquid aut beatae deleniti ea ipsa laboriosam libero numquam omnis quis quisquam. Aut.</div>
{{/[helpers/layout]}}
